name: Spark ETL CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint code
        run: |
          pip install flake8
          flake8 .

      - name: Run ETL script
        run: |
          python spark_ETL.py

      - name: Package ETL job
        run: |
          mkdir -p artifacts
          zip -r artifacts/spark_etl_package.zip spark_ETL.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: spark-etl-build
          path: artifacts/spark_etl_package.zip
